.text-center-selector {
  text-align: center;
  padding-top: 10px;
}

.red-text {
  color: #cc0000
}

.black-text {
  color: #000000
}

.navbar {
  height: 100px;
}

.container {
   margin:0 auto;
   width:960px;
}

.center {
    margin: auto;
    padding: 10px;
}
