<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Profile to The List</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Age:</label>
        <br>
        <input #newAge>
      </div>

      <div>
        <label>Gender:</label>
        <br>
        <input #newGender>
      </div>

      <div>
        <label>About You:</label>
        <br>
        <textarea #newBio></textarea>
      </div>

      <div>
        <label>Interests:</label>
        <br>
        <input #newInterest>
      </div>

      <div>
        <label>Image (url):</label>
        <br>
        <input #newImage>
      </div>

      <div>
        <label>Favorite Genre:</label>
        <br>
        <input #newFavoritegenre>
      </div>

      <div>
        <label>Current Favorite Song (url):</label>
        <br>
        <input #newCurrentsong>
      </div>
      <button (click)="submitForm(newName.value, newAge.value, newGender.value, newBio.value, newInterest.value, newImage.value, newFavoritegenre.value, newCurrentsong.value); newName.value=''; newAge.value=''; newGender.value=''; newBio.value=''; newInterest.value=''; newImage.value=''; newFavoritegenre.value=''; newCurrentsong.value=''">Add</button>
    </div>
  </div>
</div>
