body {
    background-image: url('/assets/images/shibuyanights.jpg');
    background-color: #ffffff;
}

.permanent-marker-font {
  font-family: 'Permanent Marker', cursive;
}

img {
    width:200px; /* you can use % */
    height: auto;
}
